{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cadastro{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Campos com * são obrigatórios.</p>
  <form method="post">
    <label for="email">Email*</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Senha*</label>
    <input type="password" name="password" id="password" required>
    <label for="name">Nome*</label>
    <input name="name" id="name" required>
    <label for="country">País*</label>
    <input name="country" id="country" required>
    <label for="federal_state">Estado*</label>
    <input name="federal_state" id="federal_state" required>
    <label for="city">Cidade*</label>
    <input name="city" id="city" required>
    <label for="cep">CEP*</label>
    <input name="cep" id="cep" required>
    <label for="street">Rua*</label>
    <input name="street" id="street" required>
    <label for="residential_number">Número*</label>
    <input name="residential_number" id="residential_number" required>
    <label for="aditional_address_info">Complemento</label>
    <input name="aditional_address_info" id="aditional_address_info">
    <label for="cpf">CPF*</label>
    <input name="cpf" id="cpf" required>
    <label for="pis">PIS*</label>
    <input name="pis" id="pis" required>
    
    <input type="submit" value="Cadastrar">
  </form>
{% endblock %}